// Colors

$acid-green: #4CFF5C;
$white: #FFFFFF;
$black: #000;
$grey: #9B9B9B;
$light-grey: #BABABA;
$dirty-white: #EDEDED;
$dark-grey: #979797;
$blue: #336AF2;
$purple: #9013FE;
$pink: #F92B60;
$subfooter: #272727;

// Fonts
$sf-display: 'san-francisco display', sans-serif;
